# It is a regression problem

## we are doing the machine learning on house price data set

<table align="center" width=100%>
    <tr>
        </td>
            </td>
        </td>
        <td>
            <div align="center">
                <font color="#216180" size=8px>
                    <b> Regression modeling on House Price Data
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

# Problem Statement

This dataset is created for the prediction of House Prices from an Indian perspective Towns. The dataset contains various features that are important during the application for the selling the Houses. The predicted output obtained from the classification algorithm gives a fair idea about the chances of a Houses Sold.

In [118]:
#import pandas
import pandas as pd

#import numpy
import numpy as np

#import matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

#import seaborn
import seaborn as sns

#to suppress warnings 
#from warnings import filterVarnings.filtersarnings('ignore')

#To find statistical summary we use numpy
#Pandas is utilize to format the data structure,it means it can convert any data structure into pandas data frame

In [119]:
### Load the data set

In [120]:
# Load the data and name it df_house_price
df_house_price=pd.read_csv("C:\\Users\\HETY GANDHIWALA\\OneDrive\\Desktop\\House_Price1.csv")

In [121]:
df_house_price.head(5)

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0

In [122]:
df_house_price.tail(5)

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,0.056006,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,0.059903,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,0.057572,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,0.060694,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,0.060336,1

## Data overview

In [123]:
# Name the columns
df_house_price.columns

Index(['price', 'resid_area', 'air_qual', 'room_num', 'age', 'distance',
       'teachers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'waterbody', 'rainfall', 'bus_ter', 'parks', 'Sold'],
      dtype='object')

**Interpretation**

 - `price`:Price of the house.
 - `resid_area`:Residential area where my house is located

In [124]:
# basic imfo of the data set
df_house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   distance     506 non-null    float64
 6   teachers     506 non-null    float64
 7   poor_prop    506 non-null    float64
 8   airport      506 non-null    object
 9   n_hos_beds   498 non-null    float64
 10  n_hot_rooms  506 non-null    float64
 11  waterbody    351 non-null    object
 12  rainfall     506 non-null    int64
 13  bus_ter      506 non-null    object
 14  parks        506 non-null    float64
 15  Sold         506 non-null    int64
dtypes: float64(11), int64(2), object(3)
memory usage: 63.4+ KB

**Interpretation**
 - we have 13 numerical columns and 3 categorical columns.
 - we have null values in the data.
 - we have total 16 columns.

In [125]:
# Shape of the data
df_house_price.shape

(506, 16)

**Interpertaion**
 - we have 16 columns
 - we have 506 observations

In [126]:
# Summarize the basic statistics of data
df_house_price.describe().T

,count,mean,std,min,25%,50%,75%,max
price,506.0,22.528854,9.182176,5.000000,17.025000,21.200000,25.000000,50.000000
resid_area,506.0,41.136779,6.860353,30.460000,35.190000,39.690000,48.100000,57.740000
air_qual,506.0,0.554695,0.115878,0.385000,0.449000,0.538000,0.624000,0.871000
room_num,506.0,6.284634,0.702617,3.561000,5.885500,6.208500,6.623500,8.780000
age,506.0,68.574901,28.148861,2.900000,45.025000,77.500000,94.075000,100.000000
distance,506.0,3.971996,2.108532,1.130000,2.270000,3.385000,5.367500,12.320000
teachers,506.0,21.544466,2.164946,18.000000,19.800000,20.950000,22.600000,27.400000
poor_prop,506.0,12.653063,7.141062,1.730000,6.950000,11.360000,16.955000,37.970000
n_hos_beds,498.0,7.899767,1.476683,5.268000,6.634500,7.999000,9.088000,10.876000
n_hot_rooms,506.0,13.041605,5.238957,10.057600,11.189800,12.720000,14.170800,101.120000
rainfall,506.0,39.181818,12.513697,3.000000,28.000000,39.000000,50.000000,60.000000
parks,506.0,0.054454,0.010632,0.033292,0.046464,0.053507,0.061397,0.086711
Sold,506.0,0.454545,0.498422,0.000000,0.000000,0.000000,1.000000,1.000000

**Interpretation**
 - we have outliers in the data, most of them are in AGE column.
 - we detect the outliers by diff of the mean and median of the columns

## Data Preprocessing

### a. Data Cleaning

In [127]:
# Show the first 5 observations 
df_house_price.head(5)

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0

In [128]:
# Rename the columns
# step 1:Show the column Names
df_house_price.columns

Index(['price', 'resid_area', 'air_qual', 'room_num', 'age', 'distance',
       'teachers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'waterbody', 'rainfall', 'bus_ter', 'parks', 'Sold'],
      dtype='object')

In [129]:
# Step 2:Allocate new column names to Old columns names
# Make the Dictionary {'Old Column name':'New column name'}
D1={'price':'Price',
   'resid_area':'Residential_Area',
   'air_qual':'Air_Quality',
   'room_num':'Room_Numbers',
   'age':'Age',
    'distance':'Distance',
  'teachers':'Teachers',
   'poor_prop':'Propostion_of_Poor_Population',
  'airport':'Airport',
   'n_hos_beds':'Number_of_Hospital_Beds',
   'n_hot_rooms':'Number_of_Hostel_Rooms',
   'waterbody':'Waterbody',
   'rainfall':'Rainfall',
   'bus_ter':'Bus_Terminal',
   'parks':'Parks'}

In [130]:
df_house_price=df_house_price.rename(columns=D1)
df_house_price.head(5)

,Price,Residential_Area,Air_Quality,Room_Numbers,Age,Distance,Teachers,Propostion_of_Poor_Population,Airport,Number_of_Hospital_Beds,Number_of_Hostel_Rooms,Waterbody,Rainfall,Bus_Terminal,Parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0

In [131]:
# Authenticate the data
df_house_price.columns

Index(['Price', 'Residential_Area', 'Air_Quality', 'Room_Numbers', 'Age',
       'Distance', 'Teachers', 'Propostion_of_Poor_Population', 'Airport',
       'Number_of_Hospital_Beds', 'Number_of_Hostel_Rooms', 'Waterbody',
       'Rainfall', 'Bus_Terminal', 'Parks', 'Sold'],
      dtype='object')

### b.Null Value Handling

Laws that we need to follow while processing the null values(specially for manufacturing)
 - when we have less than 15% data is missing-> remove the observations
 - between 20-70% data is missing-> impute the null values 
 - Greater than  75% values are missing-> remove the column

In [132]:
# find the value(null value)
df_house_price.isnull().sum()

Price                              0
Residential_Area                   0
Air_Quality                        0
Room_Numbers                       0
Age                                0
Distance                           0
Teachers                           0
Propostion_of_Poor_Population      0
Airport                            0
Number_of_Hospital_Beds            8
Number_of_Hostel_Rooms             0
Waterbody                        155
Rainfall                           0
Bus_Terminal                       0
Parks                              0
Sold                               0
dtype: int64

In [133]:
# percentage missing values
round(((df_house_price.isnull().sum())/len(df_house_price))*100,3)

Price                             0.000
Residential_Area                  0.000
Air_Quality                       0.000
Room_Numbers                      0.000
Age                               0.000
Distance                          0.000
Teachers                          0.000
Propostion_of_Poor_Population     0.000
Airport                           0.000
Number_of_Hospital_Beds           1.581
Number_of_Hostel_Rooms            0.000
Waterbody                        30.632
Rainfall                          0.000
Bus_Terminal                      0.000
Parks                             0.000
Sold                              0.000
dtype: float64

In [134]:
# find the nature of the column
df_house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Price                          506 non-null    float64
 1   Residential_Area               506 non-null    float64
 2   Air_Quality                    506 non-null    float64
 3   Room_Numbers                   506 non-null    float64
 4   Age                            506 non-null    float64
 5   Distance                       506 non-null    float64
 6   Teachers                       506 non-null    float64
 7   Propostion_of_Poor_Population  506 non-null    float64
 8   Airport                        506 non-null    object
 9   Number_of_Hospital_Beds        498 non-null    float64
 10  Number_of_Hostel_Rooms         506 non-null    float64
 11  Waterbody                      351 non-null    object
 12  Rainfall                       506 non-null    int64
 13  Bus_Terminal                   506 non-null    object
 14  Parks                          506 non-null    float64
 15  Sold                           506 non-null    int64
dtypes: float64(11), int64(2), object(3)
memory usage: 63.4+ KB

In [135]:
# this is a categorical column so we can replace the null with the mode
df_house_price.Waterbody.mode()

0    River
Name: Waterbody, dtype: object

In [136]:
# replace the null
df_house_price.Waterbody=df_house_price.Waterbody.fillna('River')

In [137]:
# percentage missing values
round(((df_house_price.isnull().sum())/len(df_house_price))*100,3)

Price                            0.000
Residential_Area                 0.000
Air_Quality                      0.000
Room_Numbers                     0.000
Age                              0.000
Distance                         0.000
Teachers                         0.000
Propostion_of_Poor_Population    0.000
Airport                          0.000
Number_of_Hospital_Beds          1.581
Number_of_Hostel_Rooms           0.000
Waterbody                        0.000
Rainfall                         0.000
Bus_Terminal                     0.000
Parks                            0.000
Sold                             0.000
dtype: float64

In [138]:
# in Number_of_Hospital_Beds contain less than 10% missing values
df_house_price.dropna(inplace=True)

In [139]:
round(((df_house_price.isnull().sum())/len(df_house_price))*100,3)

Price                            0.0
Residential_Area                 0.0
Air_Quality                      0.0
Room_Numbers                     0.0
Age                              0.0
Distance                         0.0
Teachers                         0.0
Propostion_of_Poor_Population    0.0
Airport                          0.0
Number_of_Hospital_Beds          0.0
Number_of_Hostel_Rooms           0.0
Waterbody                        0.0
Rainfall                         0.0
Bus_Terminal                     0.0
Parks                            0.0
Sold                             0.0
dtype: float64

## Prepare Data for Machine Learning
### We know that the machine learning algorithms are mathematical expression so we need to provide the data to the algorithm in specific format
### Encoding

In [140]:
# step 1: divide the data based their data type
df_cat=df_house_price.select_dtypes(include = ['object'])
df_cat.columns

Index(['Airport', 'Waterbody', 'Bus_Terminal'], dtype='object')

In [141]:
# using dummy encoding
dummy_var=pd.get_dummies(data = df_cat,drop_first = True)
dummy_var=dummy_var.reset_index()
dummy_var2= pd.get_dummies(data= df_cat)

In [142]:
dummy_var.head(2)

   index  Airport_YES  Waterbody_Lake and River  Waterbody_River
0      0         True                     False             True
1      1        False                     False            False

In [143]:
df_num=df_house_price.select_dtypes(include=[np.number])
df_num.head(5)

,Price,Residential_Area,Air_Quality,Room_Numbers,Age,Distance,Teachers,Propostion_of_Poor_Population,Number_of_Hospital_Beds,Number_of_Hostel_Rooms,Rainfall,Parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,5.480,11.1920,23,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,7.332,12.1728,42,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,7.394,101.1200,38,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,9.268,11.2672,45,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,8.824,11.2896,55,0.039474,0

In [144]:
from sklearn.preprocessing import StandardScaler

In [145]:
# separate the dependent and independent variables
df_target=df_house_price['Price']
df_num=df_num.drop('Price',axis=1)

In [146]:
# initiate the standard scaler
ss=StandardScaler()

In [147]:
# transfrom the data
# when we want to punch the data them fit is used and when we want to change the nature of the data then the fit_transform is used
# when we give some data to microprocessor then it is called stamping
scale=ss.fit_transform(df_num)
scale

array([[-1.28244435, -0.13709359,  0.40897478, ..., -1.30206786,
        -0.47313205, -0.91152748],
       [-0.59005882, -0.73319492,  0.18997385, ...,  0.21519397,
        -0.77522463,  1.09705963],
       [-0.59005882, -0.73319492,  1.276446  , ..., -0.10422957,
        -0.81123666, -0.91152748],
       ...,
       [ 0.11687263,  0.16527665,  0.97923045, ..., -0.66322077,
         0.30293265,  1.09705963],
       [ 0.11687263,  0.16527665,  0.72041117, ...,  0.6144734 ,
         0.59750894,  1.09705963],
       [ 0.11687263,  0.16527665, -0.36606097, ...,  0.45476163,
         0.56369225,  1.09705963]])

In [149]:
df_scale=pd.DataFrame(scale,columns=df_num.columns)
df_scale
df_scale=df_scale.reset_index()

In [150]:
# make a dataframe for independent variable
df_independent=pd.concat([df_scale,dummy_var],axis=1)
df_independent

,index,Residential_Area,Air_Quality,Room_Numbers,Age,Distance,Teachers,Propostion_of_Poor_Population,Number_of_Hospital_Beds,Number_of_Hostel_Rooms,Rainfall,Parks,Sold,index,Airport_YES,Waterbody_Lake and River,Waterbody_River
0,0,-1.282444,-0.137094,0.408975,-0.115644,0.172845,1.462167,-1.066368,-1.640299,-0.352111,-1.302068,-0.473132,-0.911527,0,True,False,True
1,1,-0.590059,-0.733195,0.189974,0.369741,0.476100,0.304963,-0.484136,-0.384875,-0.166019,0.215194,-0.775225,1.097060,1,False,False,False
2,2,-0.590059,-0.733195,1.276446,-0.260905,0.495053,0.304963,-1.199330,-0.342847,16.710340,-0.104230,-0.811237,-0.911527,2,False,False,True
3,3,-1.301354,-0.828226,1.010516,-0.802977,1.054179,-0.111631,-1.351886,0.927490,-0.337843,0.454762,-0.680402,-0.911527,3,True,False,False
4,4,-1.301354,-0.828226,1.222407,-0.505369,1.030487,-0.111631,-1.017382,0.626514,-0.333593,1.253320,-1.404723,-0.911527,4,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,493,0.116873,0.165277,0.434572,0.022531,-0.637413,-1.176258,-0.409958,0.981720,-0.164805,-0.982644,0.155116,1.097060,501,False,True,False
494,494,0.116873,0.165277,-0.238073,0.291796,-0.732180,-1.176258,-0.492534,-0.872945,0.022197,-1.541636,0.522886,1.097060,502,True,True,False
495,495,0.116873,0.165277,0.979230,0.798438,-0.779564,-1.176258,-0.973995,-1.641654,-0.162528,-0.663221,0.302933,1.097060,503,False,False,True
496,496,0.116873,0.165277,0.720411,0.738208,-0.684797,-1.176258,-0.856429,0.027273,0.403791,0.614473,0.597509,1.097060,504,True,False,True
497,497,0.116873,0.165277,-0.366061,0.437057,-0.599506,-1.176258,-0.660486,1.613499,-0.549435,0.454762,0.563692,1.097060,505,True,False,True

In [151]:
# split the data for training and testing
import statsmodels
import statsmodels.api as sm

#add a constant column to the dataframe
df_independent=sm.add_constant(df_independent)
df_independent

,const,index,Residential_Area,Air_Quality,Room_Numbers,Age,Distance,Teachers,Propostion_of_Poor_Population,Number_of_Hospital_Beds,Number_of_Hostel_Rooms,Rainfall,Parks,Sold,index,Airport_YES,Waterbody_Lake and River,Waterbody_River
0,1.0,0,-1.282444,-0.137094,0.408975,-0.115644,0.172845,1.462167,-1.066368,-1.640299,-0.352111,-1.302068,-0.473132,-0.911527,0,True,False,True
1,1.0,1,-0.590059,-0.733195,0.189974,0.369741,0.476100,0.304963,-0.484136,-0.384875,-0.166019,0.215194,-0.775225,1.097060,1,False,False,False
2,1.0,2,-0.590059,-0.733195,1.276446,-0.260905,0.495053,0.304963,-1.199330,-0.342847,16.710340,-0.104230,-0.811237,-0.911527,2,False,False,True
3,1.0,3,-1.301354,-0.828226,1.010516,-0.802977,1.054179,-0.111631,-1.351886,0.927490,-0.337843,0.454762,-0.680402,-0.911527,3,True,False,False
4,1.0,4,-1.301354,-0.828226,1.222407,-0.505369,1.030487,-0.111631,-1.017382,0.626514,-0.333593,1.253320,-1.404723,-0.911527,4,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,1.0,493,0.116873,0.165277,0.434572,0.022531,-0.637413,-1.176258,-0.409958,0.981720,-0.164805,-0.982644,0.155116,1.097060,501,False,True,False
494,1.0,494,0.116873,0.165277,-0.238073,0.291796,-0.732180,-1.176258,-0.492534,-0.872945,0.022197,-1.541636,0.522886,1.097060,502,True,True,False
495,1.0,495,0.116873,0.165277,0.979230,0.798438,-0.779564,-1.176258,-0.973995,-1.641654,-0.162528,-0.663221,0.302933,1.097060,503,False,False,True
496,1.0,496,0.116873,0.165277,0.720411,0.738208,-0.684797,-1.176258,-0.856429,0.027273,0.403791,0.614473,0.597509,1.097060,504,True,False,True
497,1.0,497,0.116873,0.165277,-0.366061,0.437057,-0.599506,-1.176258,-0.660486,1.613499,-0.549435,0.454762,0.563692,1.097060,505,True,False,True

In [153]:
# import training testing module
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_independent,df_target,random_state=10,test_size=0.2)

In [154]:
# print dimensions of train set
print('X_train',x_train.shape)
print('Y_train',y_train.shape)

#print dimensions of test set
print('X_test',x_test.shape)
print('Y_test',y_test.shape)

X_train (398, 18)
Y_train (398,)
X_test (100, 18)
Y_test (100,)

## Linear Regression

In [158]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [157]:
# create a regression model
model=LinearRegression()

In [159]:
#fit the model to the training data
model.fit(x_train,y_train)

LinearRegression()

In [160]:
#predict the training data
predictions=model.predict(x_test)

In [162]:
# calculate mean squared error
mse=mean_squared_error(y_test,predictions)
print("Mean Squared Error:",mse)

Mean Squared Error: 15.498182384260264

In [163]:
predictions

array([22.54643539, 27.39840735,  6.01371194, 24.62279556, 12.15893075,
       13.24147688, 16.67022346, 25.66565456,  9.50703345, 28.11704874,
       20.10380925, 31.97996861, 27.7494175 , 21.2841941 , 26.64068987,
        8.1693733 , 23.29099208, 20.32076214, 35.32087816, 33.05755077,
       37.53089866, 22.31822842, 17.90935745, 24.93288423,  3.61313364,
       22.42015712, 24.04955853,  1.14080403, 22.1528586 , 21.98095176,
       30.99864887, 18.47460094, 24.47115012, 15.94716737, 24.85276297,
       27.60021664, 23.10156351, 23.57407559, 36.07856382, 41.83009608,
       30.57095683, 12.59562389, 19.78670774, 31.98447659, 13.3137158 ,
       26.24526278, 31.66815717, 24.94906032, 19.30734382, 24.98848122,
       23.56415543, 25.95215834, 26.68869766, 23.9541815 , 21.12523709,
       25.24908744, 10.13721903, 15.01905518, 20.7488436 , 25.20136288,
       19.53847673, 26.30949469, 33.61883399, 23.20007772, 34.05337745,
       15.58818707, 22.34851113, 18.35483462, 33.93630801, 33.10333718,
       14.77942718, 12.52458037, 12.05719448,  9.87235418, 20.31706538,
       18.38446274, 29.73531231, 33.13734202, 18.2122112 , 20.73523866,
       14.51664437, 26.02032028, 29.99627301, 33.75355776, 21.76035831,
       21.90330316, 44.98303945, 23.54816585, 13.91284164, 26.26920573,
       18.00200736, 26.50656121, 17.95941822,  6.34099532, 26.58655783,
       19.85826787, 21.660356  , 18.27432662, 20.00456747, 42.44514096])

In [166]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test,predictions)
mae

3.1331429132865867

In [168]:
from sklearn.metrics import root_mean_squared_error
rms=root_mean_squared_error(y_test,predictions)
rms

3.9367730928084064